<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Libros</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Codigo de Barra</th>
            <th>Codigo de Libro</th>
            <th>Nombre de libro</th>
            <th>Stock</th>
            <th>Precio de la compra</th>
            <th>Editorial</th>
            <th>Precio de venta</th>
            <th>Tipo de Articulo</th>
            <th>Fecha de Inicio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center"
            *ngFor="let articulo of articulos | paginate: {itemsPerPage:3 ,currentPage:pageActual}">
            <td>{{articulo.cod_barras}}</td>
            <td>{{articulo.cod_asociado}}</td>
            <td>{{articulo.descripcion_corta}}</td>
            <td>{{articulo.cantidad_um}}</td>
            <td>{{articulo.precio_compra}}</td>
            <td>{{articulo.utilidad}}</td>
            <td>{{articulo.precio_venta}}</td>
            <td>{{articulo.tipo_articulo}}</td>
            <td>{{articulo.kit_fecha_ini}}</td>
            <td>
              <button (click)="Editar(articulo)" class="btn btn-outline-warning">Editar</button>
              <button (click)="Delete(articulo)" class="btn btn-outline-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>

  </div>
</div>
