<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/2232/2232688.png" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
      <span class="navbar-brand mb-0 h1">Librorum</span>
    </a>
  </div>
</nav>
<br>

<div class="container d-flex justify-content-center btn-group btn-group-justified" style="margin: 0 auto">

  <button (click)="Listar()" class="btn btn-outline-primary">Listar</button>
  <button (click)=" Nuevo()" class="btn btn-outline-primary" style=" margin-left:20px;">Nuevo</button>
  <button (click)="Grafica()" class="btn btn-outline-primary" style=" margin-left:20px;">Grafica</button>

</div>
<hr>
<router-outlet></router-outlet>
