<div class="container col-md-12">
  <div class="card">
    <div class=" card-header">
      <h3> Agregar Articulos</h3>
    </div>
    <div class="card-body">
      <form class="row g-3">

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Codigo de Libro</label>
          <input [(ngModel)]="articulo.cod_asociado" name="cod_asociado" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Categoria</label>
          <input [(ngModel)]="articulo.id_clasificacion" name="id_clasificacion" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Codigo Interno</label>
          <input [(ngModel)]="articulo.cod_interno" name="cod_interno" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Codigo Editorial</label>
          <input [(ngModel)]="articulo.cod_descripcion" name="cod_descripcion" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nombre del libro</label>
          <input [(ngModel)]="articulo.descripcion_corta" name="descripcion_corta" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Stock</label>
          <input [(ngModel)]="articulo.cantidad_um" name="antidad_um" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Id id_unidad</label>
          <input [(ngModel)]="articulo.id_unidad" name="id_unidad" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Id Proveedor</label>
          <input [(ngModel)]="articulo.id_proveedor" name="id_proveedor" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Precio Compra</label>
          <input [(ngModel)]="articulo.precio_compra" name="precio_compra" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Editorial</label>
          <input [(ngModel)]="articulo.utilidad" name="utilidad" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Precio Venta</label>
          <input [(ngModel)]="articulo.precio_venta" name="precio_venta" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Genero de libro</label>
          <input [(ngModel)]="articulo.tipo_articulo" name="tipo_articulo" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Stock</label>
          <input [(ngModel)]="articulo.stock" name="stock" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Stock_Min</label>
          <input [(ngModel)]="articulo.stock_min" name="stock_min" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Stock_max</label>
          <input [(ngModel)]="articulo.stock_max" name="stock_max" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Iva</label>
          <input [(ngModel)]="articulo.iva" name="iva" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Fecha de Inicio</label>
          <p-calendar [(ngModel)]="articulo.kit_fecha_ini" name="kit_fecha_ini"></p-calendar>
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Fecha de Fin</label>
          <input [(ngModel)]="articulo.kit_fecha_fin" name="kit_fecha_fin" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Articulo Disponible</label>
          <input [(ngModel)]="articulo.articulo_disponible" name="articulo_disponible" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Kit</label>
          <input [(ngModel)]="articulo.kit" name="kit" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Fecha de Registro</label>
          <input [(ngModel)]="articulo.fecha_registro" name="fecha_registro" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Libro Disponible</label>
          <input [(ngModel)]="articulo.visible" name="visible" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Calificacion</label>
          <input [(ngModel)]="articulo.puntos" name="puntos" type="text" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Ultima Actualizacion de Inventario</label>
          <p-calendar [(ngModel)]="articulo.last_update_inventory"></p-calendar>

        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Clave del producto</label>
          <input [(ngModel)]="articulo.cve_producto" name="cve_producto" type="text" class="form-control">
        </div>

        <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>
